
.divform{
    margin-left:350px;
}

.labeltext{
    color: black;
    font-size:large;
    font-weight:bold;
}

.labeltext2 {
    text-align: center;
    margin-left: 200px;
    font-size: large;
    font-weight: bold;
}

.navsetting{
    background-color:black;
}



